@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
/* General colors */
--white: #ffffff;
--gray: #6E6E6E;
--error: #A30F0F;
--backdrop: #121212;

/* DigiFinland theme colors */
--df_blue: #003F71;
--df_light_blue: #E7F3FA;
--df_green: #DFF3F1;
--df_pink: #F1EEF9;
--df_gray: #EFEFEF;
--df_off_white: #FAFAFA;

/* Whitelabel basic theme colors */
--wl_black: #100F0F;
--wl_gray: #726E6F;
--wl_blue: #DEE4E6;
--wl_beige: #E0D6CF;
--wl_brown: #CFC9C5;
--wl_yellow: #E6E6E2;
--wl_orange: #E5CAB8;
--wl_off_white: #F7F7F6;

/* Dark theme colors */
--dark_white: #DEDCDC;
--dark_gray: #808080;
--dark_black: #0D0D0D;
--dark_off_black: #1B1B1C;
--dark_brown: #393939;
--dark_blue: #20273B;
--dark_green1: #242D30;
--dark_green2: #313D40;
--dark_error: #F34F4F;

/* Aqua theme colors */
--aq_1: #CFEEEE;
--aq_2: #EAF4F4;
--aq_3: #E8E8E8;
--aq_4: #EEFBFF;
--aq_off_white: #FAFAFA;

/* Cappuccino theme colors */
--cp_1: #E2D2C4;
--cp_2: #E8E8E8;
--cp_3: #EDD4BF;
}

/* Highlight parts without theme being applied to them */
body {
  color: pink;
  font-family: cursive;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  margin-bottom:8px;
}

a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

.details-icon {
  transform: rotate(270deg);
  transition: transform 0.5s;
}

.details-icon {
  transition: transform 0.3s ease-in-out;
}

.rotate-90 {
  transform: rotate(90deg);
}



/* Voting card throw animations */
@keyframes throwCenterToLeft {
  from { transform: translateX(0);}
  to { transform: translateX(-110%);}
}
@keyframes throwLeftToCenter {
  from { transform: translateX(-110%);}
  to { transform: translateX(0);}
}

#previousCard{display:none;}

#previousCard.card-animate-center-to-left {
  display: flex;
  animation: throwCenterToLeft 0.800s forwards;
  animation-timing-function: cubic-bezier(0.47, 0.01, 0.58, 1);
}
#previousCard.card-animate-left-to-center {
  display: flex;
  animation: throwLeftToCenter 0.900s forwards;
  animation-timing-function: cubic-bezier(0.53, 0.01, 0.25, 1.15);
}


/* Focus visible with high visibility as per accessibility requirements */
:focus-visible,
button:focus-visible,
.focus-visible {
  box-shadow: 0 0 0 .25rem white;
  outline: .375rem double black;
  /*border-radius: .125rem; Might be better to get border radius from the element itself*/
}

