/* DigiFinland Theme colors and fonts */
:root{
--text-primary: var(--df_blue);
--text-placeholder: var(--gray);
--text-invert: var(--white);
--text-error: var(--error);
--text-footer: var(--white);
--surface-primary: var(--white);
--surface-secondary: var(--df_off_white);
--surface-brand: var(--df_blue);
--surface-card-1: var(--df_light_blue);
--surface-card-2: var(--df_green);
--surface-card-3: var(--df_pink);
--surface-card-4: var(--df_gray);
--surface-graph-primary: var(--df_light_blue);
--surface-graph-secondary: var(--df_pink);
--border-primary: var(--df_blue);
--border-error: var(--error);
--logo-primary: var(--df_blue);
--logo-secondary: var(--df_light_blue);
--footer-background: var(--df_blue);
--progress-bar: var(--df_blue);
--progress-background: var(--df_light_blue);
--modal-background: var(--white);
--modal-backdrop: var(--backdrop);
.font-primary{@apply font-tthoves;}
.font-secondary{@apply font-tthoves;}
}
a::after {
content: url('./../../../icons/open_in_new_df.svg');
display: inline-block;
margin-left: 8px;
vertical-align: middle;
}
footer a::after {
content: url('./../../../icons/open_in_new_df_footer.svg');
display: inline-block;
margin-left: 8px;
vertical-align: middle;
}