/* Dark Theme colors and fonts */
:root{
--text-primary: var(--dark_white);
--text-placeholder: var(--dark_gray);
--text-invert: var(--dark_black);
--text-error: var(--dark_error);
--text-footer: var(--dark_white);
--surface-primary: var(--dark_black);
--surface-secondary: var(--dark_off_black);
--surface-brand: var(--dark_white);
--surface-card-1: var(--dark_green1);
--surface-card-2: var(--dark_brown);
--surface-card-3: var(--dark_blue);
--surface-card-4: var(--dark_green2);
--surface-graph-primary: var(--dark_green1);
--surface-graph-secondary: var(--dark_brown);
--border-primary: var(--dark_white);
--border-error: var(--dark_error);
--logo-primary: var(--dark_black);
--logo-secondary: var(--dark_white);
--footer-background: var(--dark_brown);
--progress-bar: var(--dark_white);
--progress-background: var(--dark_brown);
--modal-background: var(--dark_green1);
--modal-backdrop: var(--backdrop);
.font-primary{@apply font-dmserif;}
.font-secondary{@apply font-raleway;}
}
a::after {
content: url('./../../icons/open_in_new_dark.svg');
display: inline-block;
margin-left: 8px;
vertical-align: middle;
}

